* {
    margin: 0;
    padding: 0;
    
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#idHeadLogo{
    max-height: 2rem !important;
    width: auto !important;
    height: auto;
    max-width: 100%;
    border-style: none;
}
#transitionSVG{
    width:136px;
    height: 32px;
    max-width: 100%;
    border-style: none;
}


#loading-screen{
    position: absolute;
    background-color: black;
	height: 100%;
	width: 100%;
    z-index: 2;
}



#container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column
  }


#deliverInput::placeholder {
    color: rgb(143, 131, 131) !important;
    font-weight: bold;
    margin-right: 15px;
    padding-right: 40px !important;
}

#deliverInput::-webkit-input-placeholder {
    color: rgb(143, 131, 131) !important;
}

#deliverInput:-moz-placeholder {
    color: rgb(143, 131, 131) !important;
}

#locLabel {
    /*position: relative;*/

}

#locLabel::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
}

#features {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.iconsStyle {
    background-color: #E7393F !important;
    padding: 10px !important;
    padding-left: 18px !important;
    padding-top: 13px !important;
    position: relative !important;
    color: #fff !important;
    height: 50px;
    width: 50px;
    border-radius: 55%;

}

.iconsStyle2 {
    background-color: #E7393F !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-top: 13px !important;
    position: relative !important;
    color: #fff !important;
    height: 50px;
    width: 50px;
    border-radius: 55%;

}
#slideBtn{
    margin: 15px !important;
    height: calc(1.5rem + 1rem + 2px);
    padding: 0.5rem calc(1rem + 1.2rem);
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #566E7E;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
    margin: 1.25rem ;
    text-decoration: none ;
    font-weight: 600 ;
    font-size: .7rem ;
    border-radius: 4px ;
    background-color: #E7393F ;
}
#slideContainer{
    margin-top: 40%;
}
#sliderImage {
    background-image: url('../IMAGES/coolAf.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2.5rem !important;
    display: flex !important;
    text-align: center;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;

}

#sliderTitle{
    display: block;
    font-weight: 900 ;
    font-size: 4rem ;
    color: #fff ;
}

#sliderText{
    margin-top: 1.25rem ;
    margin-bottom: 1.25rem ;
    opacity: 1;
    font-weight: 600 ;
    font-size: 1.125rem ;
    color: #fff ;
}

#nav-items{
    color: white; 
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    display: flex;
    align-items: center !important;
    justify-content: flex-end !important;
    flex-direction: row !important;
    width: 100% !important;
}
@media (max-width: 1420px) {
    #slideContainer{
        margin-top: 58%;
    }
}
@media (max-width: 1045px) {
    #slideContainer{
        margin-top: 55%;
    }
}
@media (max-width: 960px){
    #navTag{
        display: flex !important;
        flex-direction: column !important;
    }
    #nav-items{
        display: none ;
        flex-direction: column !important;
    }
    #slideContainer{
        margin-top: 65%;
    }
    #sliderTitle{
        font-size: 2.5rem ;
    }
}
@media (min-width: 961px){
    #hamMenu{
        display: none !important;
        float: right;
    }

    #nav-items{
        display: flex !important;
        flex-direction: row !important;
    }
}
@media (max-width: 740px) {
    #appDiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 740px) {
    /* styles to apply when the viewport width is between 451 and 500 pixels */
    #sliderImage {
        width: 100%;
        height: 1000px;
    }
    
}

@media (max-width: 740px) {
    /* styles to apply when the viewport width is between 451 and 500 pixels */
    #sliderImage {
        width: 740px;
        height: 700px;
    }
    #sliderTitle{
        font-size: 1.5rem ;
    }
    #sliderText{
        font-size: 0.5rem;
    }
    #slideBtn{
        height: 30px;
        width: 136px;
        font-size: 0.5rem ;
    }
    #slideContainer{
        margin-top: 60%;
    }
}

@media (max-width: 685px) {

    /* styles to apply when the viewport width is between 451 and 500 pixels */
    #sliderImage {
        width: 682px;
        height: 560px;
    }
}

@media (max-width: 500px) {

    /* styles to apply when the viewport width is between 451 and 500 pixels */
    #sliderImage {
        width: 498px;
        height: 300px;
    }
    #sliderTitle{
        font-size: 1rem ;
    }
    #sliderText{
        font-size: 0.5rem;
    }
    #headerLogo{
        width: 100px;
    }

    #tryDT{
        width: 100px ;
    }
    #btnGS{
        width: 70px ;
    }
    #slideContainer{
        margin-top: 40%;
    }
}
@media (max-width: 450px) {

    /* styles to apply when the viewport width is between 401 and 450 pixels */
    #sliderImage {
        width: 418px;
    }
}

@media (max-width: 400px) {

    /* styles to apply when the viewport width is less than or equal to 400 pixels */
    #sliderImage {
        width: 500px;
        height: 500px;
    }
    #btnGS{
        width: 40px ;
    }
    #inpGS{
        width: 140px ;
    }
}

@media (max-width: 392px) {

    /* styles to apply when the viewport width is less than or equal to 400 pixels */
    #sliderImage {
        width: 500px;
        height: 388px;
    }
    #inpGS{
        width: 40px ;
    }
}
@media (max-width: 270px) {

    #sliderImage {
        width: 500px;
        height: 286px;
    }
    #headerLogo{
        width: 50px;
    }
    #sliderTitle{
        font-size: 1rem ;
    }
    #sliderText{
        font-size: 0.4rem;
    }
}

